{
	"trailingComma": "none",
	"tabWidth": 1,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrderParserPlugins": ["jsx", "typescript"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
